{% extends 'layout/layout' %}

{% block content %}
    {{ parent() }}

    <section class="login-container">

        <h2 class="form-signin-heading">Connexion</h2>

        {{ form(loginForm) }}

        <p class="text-centered">
            <span class="glyphicons glyphicons-user"></span><a href="{{ url('register') }}">Créer un compte</a>
        </p>

    </section>

{% endblock %}